button.button-save.button(
  onclick="window['modal-floppy'].showModal()",
  aria-controls="dialog-id"
)
  svg.floppy-icon(viewbox="0 0 21 21")
    use(href="./icons/floppy.svg#floppy-icon")
  span.button__text Сохранить на память
