:root.theme-light {
  --bg-color: #fff;
  --accent-color: #000;
  --main-card-weight: "wght" 400;
  --difference-button-color: #fff;
  --contour-color: #000;
  --accent-card-weight: "wght" 700;
  --main-body-heart-color: #f00;
  --bg-gradient: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

:root.theme-dark {
  --bg-color: #000;
  --accent-color: #00cc14;
  --main-card-weight: "wght" 465;
  --accent-card-weight: "wght" 785;
  --difference-button-color: #00cc14;
  --contour-color: #00cc14;
  --main-body-heart-color: #f00;
  --bg-gradient: repeating-linear-gradient(
      to right,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --accent-color: #00cc14;
    --main-card-weight: "wght" 465;
    --accent-card-weight: "wght" 785;
    --difference-button-color: #00cc14;
    --contour-color: #00cc14;
    --main-body-heart-color: #f00;
    --bg-gradient: repeating-linear-gradient(
        to right,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c, #004306);
  }
}
