.card {
  max-width: 700px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  font-size: 18px;
}

.card__title {
  font-variation-settings: var(--accent-card-weight);
  font-size: inherit;
  padding: 5px 10px;
  border-bottom: 2px var(--accent-color);
}

.card__image-container {
  position: relative;
}

.card__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font);
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__desc {
  line-height: 1.17;
}

.card__buttons {
  display: flex;
  justify-content: end;
  margin: 0 25px 25px 0;
  gap: 5px;
  height: 38px;
}

.card__like-button {
  width: 130px;
  height: 100%;
}

.brightness {
  filter: brightness(50%);
}

.contrast {
  filter: contrast(140%);
}

.blur {
  filter: blur(2px);
}

.opacity {
  filter: opacity(0.3);
}

.grayscale {
  filter: grayscale(0.9);
}

.saturate {
  filter: saturate(200%);
}

.sepia {
  filter: sepia(100%);
}

.sepia-contrast-brightness {
  filter: sepia(1) contrast(2) brightness(200%);
}

@import "../buttons/card__icon-button/card__icon-button.css";
