.card__icon-button {
  height: 100%;
  display: inline-block;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.like-icon {
  width: 100%;
  height: 100%;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition-delay: 0;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  fill: var(--main-body-heart-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--main-body-heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--main-body-heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--main-body-heart-color);
  transition: fill 0.3s linear 0.05s;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--main-body-heart-color);
  transition: fill 0.3s linear 0.06s;
}

@keyframes scale-heart {
  to {
    scale: 1.5;
  }
}

@keyframes sparks {
  to {
    fill: var(--main-body-heart-color);
  }
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s alternate;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate;
}
