block variables

doctype
html(lang="ru")
  head
    title= titleName
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="color-scheme", content="light dark")
    link(rel="icon", href="./icons/favicon.ico", sizes="any")
    link(rel="icon", href="./images/favicon.svg", type="image/svg+xml")
    link(rel="apple-touch-icon", href="./images/apple-touch-icon.png")
    link(rel="stylesheet", href="./bundle.css")
    link(rel="stylesheet", href=styleName)
    script(src="./scripts/set-theme.js")
  body.page
    include ../components/header/header
    block content
    script(src="./scripts/like.js")
